<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
<!--
  Name: Juliano Souza Chaves Costa
  StudentID: 301222713
  Date: 2022-10-16
-->  

  <main class="container p-5">

    <h1>Services offered:</h1>
    <ul>
      <li>Web development</li>
      <li>Relational database (SQL)</li>
      <li>Software Requirements Specification (SRS)</li>
      <li>Programming (C#, Python, Java)</li>
    </ul>
  </main>

<%- include partials/bottom_nav %> 

<%- include partials/footer.ejs %> 